@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .toasifyFont {
    @apply font-Inter font-400;
  }

  .none {
    @apply hidden;
  }

  .authBtn {
    @apply bg-white text-black py-1 px-2 rounded-[6px] mx-auto font-700 active:bg-black active:text-white active:rounded-[6px];
  }

  .centerPos {
    @apply flex justify-center items-center;
  }

  .wish svg {
    height: 18px;
    width: 18px;
  }

  .authInput {
    @apply bg-re p-0.5 rounded-[4px] text-1 outline-none focus:shadow-fx1 focus:border-fc1 border-1;
  }

  .cardIconBtn {
    @apply bg-black p-[0.7rem] flex justify-center items-center rounded-[6px] md:p-1;
  }

  .addToCartBtn {
    @apply w-100 p-1 h-[58px] rounded-[5px] self-end text-center border-1 active:bg-black active:text-white btn;
  }

  .cardBtn:disabled {
    @apply opacity-[0.5];
    cursor: not-allowed;
  }

  .btnDisabled:disabled {
    background-color: #e0e0e0;
    opacity: 0.5;
  }

  .btnDisabled:active {
    @apply bg-[#87cefa];
  }

  .animateHeight {
    animation: heightAnim 1s linear 0s 1 normal forwards;
  }

  @keyframes heightAnim {
    0% {
      max-height: 0;
      overflow: hidden;
    }

    100% {
      max-height: 100%;
      overflow: none;
    }
  }
  @media (hover: hover) {
    .activeHover:active {
      opacity: 0.8;
    }

    .activeHover:hover {
      opacity: 0.5;
    }
    /* when hover is supported */
    .btn:hover {
      color: #ffffff;
      background: #1f1f1fab;
      transition: all 500ms;
    }

    .cartbtn:hover {
      opacity: 0.5;
      border-color: rgba(0, 0, 0, 0.673);
    }

    .cartbtn:active {
      opacity: 0.8;
      border-color: rgba(0, 0, 0, 0.9);
    }

    .animateDiv {
      /* opacity: 0.5; */
      opacity: 0;
      animation: myAnim 500ms ease 0s 1 normal forwards;
    }

    @keyframes myAnim {
      0% {
        opacity: 0.5;
      }

      100% {
        opacity: 1;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .none {
      display: flex !important;
    }
  }
}
