@tailwind base;
@tailwind components;
@tailwind utilities;

@media (hover: hover) {
  /* when hover is supported */
  .btn:hover {
    color: #ffffff;
    background: #1f1f1fab;
    transition: all 500ms;
  }
}

@layer components {
  .authBtn {
    @apply bg-white text-black py-1 px-2 rounded-[6px] mx-auto font-700 active:bg-black active:text-white active:rounded-[6px];
  }

  .centerPos {
    @apply flex justify-center items-center;
  }

  .authInput {
    @apply bg-re p-0.5 rounded-[4px] text-1 outline-none focus:shadow-fx1 focus:border-fc1 border-1;
  }

  .cardIconBtn {
    @apply bg-black p-[0.7rem] flex justify-center items-center rounded-[6px] md:p-1;
  }

  .addToCartBtn {
    @apply w-100 p-1 rounded-[5px] self-end text-center border-1 active:bg-black active:text-white btn;
  }

  .btnDisabled:disabled {
    background-color: #e0e0e0;
    opacity: 0.5;
  }

  .btnDisabled:active {
    @apply bg-[#87cefa];
  }
}
